main{
    min-height : 80vh;
}
.rating span {
    margin: 0.1rem;
}
h3 {
    padding : 1rem 0;
}

.custom-navbar{
    max-height: 100px;
}
.navbar-logo{
    max-width: 100px;
    max-height : 100px;
    object-fit : contain;
}